<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        body{
            background-image: url("img/backgroud.jpg");
        }
    </style>
</head>
<body>
<a th:href="@{/customer/home}"><button>BACK TO HOME</button></a>
<p>
    <a th:href="@{/contract/create}">
        Add new Contract
    </a>
</p>
<table class="table table-striped" style="color: red">
    <thead>
    <tr>
        <th>Contract Id</th>
        <th>Contract Start Date</th>
        <th>Contract End Date</th>
        <th>Contract Deposit</th>
        <th>Contract Total Money</th>
        <th>Employee Name</th>
        <th>Customer Name</th>
        <th>Service Name</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="contract :${contractList}">
        <td th:text="${contract.contractId}"></td>
        <td th:text="${contract.contractStartDate}"></td>
        <td th:text="${contract.contractEndDate}"></td>
        <td th:text="${contract.contractDeposit}"></td>
        <td th:text="${contract.contractTotalMoney}"></td>
        <td th:text="${contract.employee.employeeName}"></td>
        <td th:text="${contract.customer.customerName}"></td>
        <td th:text="${contract.service.serviceName}"></td>
        <td>
            <a th:href="@{/contract/edit/{id}(id=${contract.contractId})}"><button type="button" class="btn btn-outline-danger">Edit</button></a>
        </td>
        <td>
            <a th:href="@{/contract/delete/{id}(id=${contract.contractId})}"><button type="button" class="btn btn-outline-danger">Delete</button></a>
        </td>
    </tr>
    </tbody>
</table>
<div>
    <a class="btn btn-dark"
       th:href="@{'/contract/contractList'(page=${contractList.number - 1},keyword = ${nameSearchAfterSearch})}"
       th:if="${contractList.hasPrevious()}">Previous</a>
    <span th:text="${contractList.number + 1}"></span>/<span th:text="${contractList.totalPages}"></span>
    <a class="btn btn-dark"
       th:href="@{'/contract/contractList'(page=${contractList.number + 1},keyword = ${nameSearchAfterSearch})}"
       th:if="${contractList.hasNext()}">Next</a>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>